body {
    background-color: rgb(243, 243, 204);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 24px;
    color: black;
}

.mainContainer {
    height: 615px;
    width: 355px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    /* flex-grow: 1; */
    /* border: 2px solid red; */

}

.calcBody {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 350px;
    min-height: 550px;
    border: 1px solid gray;
    background-color: rgb(233, 233, 233);
    border-radius: 16px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 0px;
}

.calcDisplay {
    display: flex;
    margin: 20px auto;
    height: 100px;
    width: 330px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
}

.calcKeyBoard {
    display: flex;
    margin: 0px auto;
    height: 360px;
    width: 350px;
}

.mainKeySection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3 / 4;
    flex-grow: 1;    
}

.secondaryKeySection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.clearBtn {
    display: flex;
    height: 65px;
    width: 240px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
}

.numberKeySection {
    display: flex;
    flex-direction: column-reverse;
    height: 216px;
}

.numericRow {
    display: flex;
    height: 72px;
}

.zeroKeySection, .clearKeySection {
    display: flex;
    height: 72px;
}

.numberBtn, .operatorBtn, .zeroBtn, .clearEntryBtn {
    display: flex;
    height: 65px;
    width: 65px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
}

.numberBtn:hover, .clearEntryBtn:hover, .clearBtn:hover {
    background-color: rgb(196, 196, 196);
}

.clearEntryBtn, .clearBtn {
    background-color: rgb(218, 218, 218);
}

.operatorBtn {
    background-color: rgb(243, 182, 68);
}

.operatorBtn:hover {
    background-color: rgb(221, 148, 13);
}

button {
    align-items: center;
    justify-content: center;
}

.calcDisplay {
    align-items: center;
    justify-content: end;
    font-size: 32px;
}

.footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 170px ;
    height: 50px;
    /* border: 2px solid red; */
}

.copyright {
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 20px;
}
