* {
    box-sizing: border-box;
}

.mainContainer {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.calcBody {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    border: 4px solid green;

}

.calcDisplay {
    display: flex;
    margin: 20px auto;
    height: 100px;
    width: 350px;
    border: 4px solid red;
}

.calcKeyBoard {
    display: flex;
    margin: 0px auto;
    height: 360px;
    width: 350px;
    /* border: 4px solid purple; */
}

.mainKeySection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    width: 4 / 5;
    /* border: 4px solid orange; */
    
}

.secondaryKeySection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border: 4px solid blue; */
}

.clearBtn {
    display: flex;
    height: 50px;
    width: 220px;
    margin: auto;
}

.numberKeySection {
    display: flex;
    flex-direction: column-reverse;
    height: 216px;
    /* border: 4px solid violet; */
}

.numericRow {
    display: flex;
    height: 72px;
    /* border: 4px solid black; */
}

.zeroKeySection, .clearKeySection {
    display: flex;
    height: 72px;
    /* border: 4px solid black; */
}

.numberBtn, .operatorBtn, .zeroBtn, .pointBtn, .clearEntryBtn {
    display: flex;
    height: 50px;
    width: 50px;
    margin: auto;
}

