* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.mainContainer {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.calcBody {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    border: 1px solid gray;
    background-color: rgb(233, 233, 233);
    border-radius: 16px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);

}

.calcDisplay {
    display: flex;
    margin: 20px auto;
    height: 100px;
    width: 330px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
}

.calcKeyBoard {
    display: flex;
    margin: 0px auto;
    height: 360px;
    width: 350px;
    /* border: 4px solid purple; */
}

.mainKeySection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3 / 4;
    flex-grow: 1;
    
    /* border: 4px solid orange; */
    
}

.secondaryKeySection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border: 4px solid blue; */
}

.clearBtn {
    display: flex;
    height: 65px;
    width: 240px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
}

.numberKeySection {
    display: flex;
    flex-direction: column-reverse;
    height: 216px;
    /* border: 4px solid violet; */
}

.numericRow {
    display: flex;
    height: 72px;
    /* border: 4px solid black; */
}

.zeroKeySection, .clearKeySection {
    display: flex;
    height: 72px;
    /* border: 4px solid black; */
}

.numberBtn, .operatorBtn, .zeroBtn, .pointBtn, .clearEntryBtn {
    display: flex;
    height: 65px;
    width: 65px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
}

.numberBtn:hover {
    background-color: rgb(196, 196, 196);
}


.clearEntryBtn, .clearBtn {
    background-color: rgb(218, 218, 218);
}

.operatorBtn {
    background-color: rgb(243, 182, 68);
}

